.venv/
__pycache__/
data/historical_data/*
data/values/indicators/*
data/values/correlations/*
data/values/signals/*
data/values/price_vol_changes/*
data/reports/*
data/state/*
visualization/plots/*
logs/